body {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    background-image: url('story.jpg');
}

.container {
    text-align: center;
}

.heading {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #000b0d;
}

.subheading {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #1275b7;
}

.video-container {
    position: relative;
    width: 640px;
    margin: 0 auto;
}

.video {
    width: 100%;
    border-radius: 20px;
    border: 5px solid #61dafb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.custom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #21a1f1;
    transform: scale(1.1);
}

.custom-button:focus {
    outline: none;
}
